html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #428F68;
    font-size: 15px;
    background-image: url("../img/background_1.jpg");
    background-repeat: repeat;
}

img {
    opacity: 0.2;
}

.junbotron {
    padding: 1em;
    background-color: rgba(220, 227, 233, 0.844);
    font-size: 2em;
}

.display-4 {
    font-size: 3em;
}

.lead {
    font-size: 1.5em;
    font-weight: bold;
}
.btn-lg {
    text-align: center;
    width: 6.5em;
    height: 2.5em;
}
.counter {
    font-size: 2em;
    font-weight: bold;

}